* {
    padding:0;
    margin:0;
}
.maindiv {
    font-family: 'Lato', sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Lato';
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: #FFCACA;
}
label {
    color: #FFCACA;
    padding: 2rem;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}
input {
    border-radius: 1rem;
    font-size: 3rem;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
}
button {
    border-radius: 1rem;
    margin-top:1.5rem;
    font-family: 'Lato';
    font-size: 2rem;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #FFCACA;
    color:#251B37;
}
button:active {
    border: 1px solid #FFCACA;
    background-color: #251B37;
    color:#FFCACA;
}
.MainCard {
    align-items: center;
    background-color: #251B37;
    border-radius: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}
#ans {
    color: #FFCACA;
    padding: 2rem;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}